<h1 class="text-center m-5">Explore the news</h1>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">Warning</h4>
		   <p class="card-text">Travelex does not guarantee that the information is correct or that it is up-to-date and complete. We have carefully compiled this information to keep you updated.
			Please note that the entry requirements change at short notice or can be treated individually. Only the responsible embassy or one of the responsible consulates general can provide legally binding information and advice and / or information and advice going beyond this information. Find out in good time.
			Citizens of the Schengen area can travel without borders within the member states. It is recommended to have travel documents (passport / identity card) with you. In individual cases and exceptional situations there may be controls and it is possible that you have to identify yourself.</p>
		 </div>
	</div>
</div>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">Sustainable travel - is that possible?</h4>
		   <p class="card-text">More and more people are flying ever longer distances, at their destinations they are forming ever larger groups in a limited space. The visitors consume resources, they produce noise and they pollute the infrastructure. In some places this already leads to locals rejecting guests. What can cities and regions do to prevent this from happening? How can visitor flows be controlled? And what can individual travelers do to defuse situations, how can they travel sustainably and responsibly?</p>
		 </div>
	</div>
</div>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">More luxury</h4>
		   <p class="card-text">In the past, luxury was associated with sports cars and casinos. Apparently that has changed. At ITB Berlin, the world's largest tourism fair, the term was redefined: “Luxury as we understand it today has nothing to do with the bling bling of 20 years ago,” explained Marc Aeberhard, owner of a luxury hotel group. Today it is more about immaterial factors, about the gain of space and time, about individual control. About personal service. About security. And less stress so that you can concentrate on the essentials. About untouched nature and the experience of solitude. And yourself. At the ITB, a luxury tour operator focused on untouched travel destinations in the wilderness of the north. The coordinates are not revealed, smartphones and social media activities are prohibited. Sustainability is also important: those who stay longer pay less.
</p>
		 </div>
	</div>
</div>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">Tourist 4.0</h4>
		   <p class="card-text">How digitization is changing travel. Booking a vacation in an online travel agency - almost half of all travelers already do that. So it is practically everyday tourism. And more and more trips are booking via mobile devices, i.e. smartphones or tablets. And since everyone now carries a smartphone with them and uses it on the go, the small device is the focus of tourism professionals. Now it is important to optimize the service offerings for the smartphone. One problem today, for example, is still booking tours and activities - preferably locally and in different languages.
</p>
		 </div>
	</div>
</div>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">Low budget traveling</h4>
		   <p class="card-text">Every year in spring, the anticipation of the most beautiful time of the year grows - the vacation. But where should it go? Don't worry, because Travelex not only has a travel tip, but also shows the best travel destinations for 2021.</p>
		 </div>
	</div>
</div>

<div class="row">
	<div class="card mb-5">
		 <div class="card-body">
		  <h4 class="card-title">More tourists</h4>
		   <p class="card-text">More and more people are traveling. In 2018, the number of trips abroad rose by 5.5 percent, which corresponds to a total of 1.4 billion trips abroad. The vast majority of these are pleasure trips, according to the current World Travel Monitor from IPK International. The growth in tourism comes from all regions of the world, including the traditionally strong markets of Europe and North America. Among the target regions, Asia and also Europe were the winners on the world map, each with 6 percent growth. From a global perspective, both the average duration of travel and travel expenses increased in 2018, with the result that international tourism achieved global sales growth of eight percent in 2018. In general, vacation trips developed better than business trips in 2018. While MICE travel continues to grow, traditional business travel is still on a downward trend.
</p>
		 </div>
	</div>
</div>