/* You can add global styles to this file, and also import other style files */
body {
	background-image: url('./assets/background.jpg');
	background-attachment: fixed;

}

.background {
	background-color: rgba(255,255,255,0.5);
	border-radius: 10px;
	padding: 40px;
}