<div class="row mb-2">
	<div class="col-sm-12 col-lg-4">
		<h1>Experience the best trip ever</h1>
		<p>We are commited to offering travel services of the highest quality, combining our energy and enthusiasm with ears of experience.</p>
		<button class="btn btn-info" routerLink="/travels">Travels</button>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 col-lg-4 offset-lg-8 ">
		<h1>Every time up to date</h1>
		<p>Read through our blog posts concerning the newest publishes in the world of travel</p>
		<button class="btn btn-info" routerLink="/blog">Blog</button>
	</div>
</div>